body{
	margin:0; 
	padding:0;
	background-color: #000000;
}



#maincontainer{
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px;
	background-color: #ffffff;
	width: 1250px;
	height:6200px; 
}

#imagesdiv{
	margin: 0 auto;
	padding-top: 40px;
	width: 500px;
	height: 420px;
}

.Images{
	margin:0 auto;
}

#description{
	width:425px;
	height:140px;
	background-color: #ffffff;
}

p{
	text-align: center;
	line-height: 1.5;
	font-family: "Arial";
	font-size: 17px;
	color: #000000
}